<div class="card">
    <div class="card-content">
        <h5 style="float:left"><%= caption %> Requests</h5>
        <table id="sar-table" class="highlight responsive-table">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Job Title</th>
                    <th>Reason For Request</th>
                    <th>Effective Date</th>
                    <th>Current Status</th>
                    <th>Approve</th>
                    <th>Reject</th>
                </tr>
            </thead>
            <tbody>
                <% sars.each do | sar | %>
                    <tr>
                        <td><%= link_to(sar['full_name'], employee_path(sar['employee_id'])) %></td>
                        <td><%= sar['job_title'] %></td>
                        <td> This is a <span style='text-decoration:underline;'><%= sar['reason']%></span> user.</td>
                        <td><%= sar['effective_date'] %></td>
                        <td><%= SystemAccessRequest.states.key(sar['state']).capitalize %></td>
                        <td>
                            <a href="#" id="approve-sar" data-sar-id="<%= sar['system_access_request_id'] %>">
                                <i class="material-icons" style="font-size:35px;color:green;">add_circle</i>
                            </a>
                        </td>
                        <td>
                            <a href="#" id="reject-sar" data-sar-id="<%= sar['system_access_request_id'] %>">
                                <i class="material-icons" style="font-size:35px;color:red;">remove_circle</i>
                            </a>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
