<h4 class="text-align-center">System Access Request Form</h4>
<div class="row">
    <div class="col s3">
        <label style="font-size:15px">This form is for a:</label>
    </div>
    <div class="col s4">
        <%= form.radio_button :employee, true, { id: "employee_employee_regular", class: "with-gap validate" } %>
        <%= form.label "employee_regular", "Employee"%>
    </div>
    <div class="col s5">
        <%= form.radio_button :employee, false, { id: "employee_employee_non_regular", class: "with-gap validate" } %>
        <%= form.label "employee_non_regular", "Vendor / Non Employee (1099 / contract)" %>
    </div>
</div>

<div class="row">
    <div class="input-field col s5">
        <%= form.text_field :first_name, id: :employee_first_name %>
        <%= form.label :first_name %>
    </div>

    <div class="input-field col s2">
        <%= form.text_field :middle_initial, id: :employee_middle_initial %>
        <%= form.label :middle_initial %>
    </div>

    <div class="input-field col s5">
        <%= form.text_field :last_name, id: :employee_last_name %>
        <%= form.label :last_name %>
    </div>
</div>

<div class="row">
    <div class="input-field col s6">
        <%= form.label :job_title %>
        <%= form.text_field :job_title, id: :employee_job_title %>
    </div>

    <div class="input-field col s6">
        <%= form.label :employee_email %>
        <%= form.text_field :employee_email, id: :employee_employee_email %>
    </div>
</div>
