<%= form_with(model: resource, local: true) do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :resource_name %>
  </div>

  <div class="input-field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :resource_url %>
  </div>

  <div class="field">
    <%= form.label :resource_type %>
    <%= form.select(:resource_type, Resource.resource_types.keys) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
